@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main{
    overflow: auto;
    display: flex;
}
.titleContainer{
    width: 407px;
    height: 98px;
    top: 200px;
    left: 150px;
    position: absolute;
}

.titleContainer > p{
    font-size: 40px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.line{
    width: 55%;
}



.photo{
    width: 400px;
    height: 200px;
    object-fit: contain;
    top: 100px;
}

.left{
    display: flex;
    flex-direction: column;
}