@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main{
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 0px 8%;
    margin-top: 30px;
    position: relative;
    top: 100px;
}


.titleContainer > p{
    font-size: 30px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.titleContainer{
    padding: 100px 10px 0px 30px;
    width: 75%;
}

.line{
    width: 50%;
}



.photo{
    width: 400px;
    height: 200px;
    object-fit: contain;
    margin-top: 50px;
}

.left{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-items: center;
}

.top{
    flex: 0.5;
}

.right{
    align-items: center;
    flex: 0.4;
}