@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.headerSection{
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 35px;
}

.logo{
    width: 100px;
}
.left{
    flex: 0.5;display: flex;
    align-items: center;
}
.right{
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
    align-items: center;
}

.right > p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

p:hover{
    color: #9F62C9;
    cursor: pointer;
}

.login{
    background-color: transparent;
    border: solid 1px #663399;
    width: 90px;
    height: 40px;
    border-radius: 24px;
    color: #663399;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
}

.login:hover{
    background-color: #663399;
    color: white;
    cursor: pointer;

}
.getStarted{
    background-image: linear-gradient(to right, #9F62C9, #663399);
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
    cursor: pointer;

}

.getStarted:hover{
    background-color: #663399;
    background-image: none;
}