.main{
    background-color: #fff;
    box-shadow: 0px 5px 7px 0px rgb(0 0 0 / 30%);
    border-radius: 10px;
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 20px;

    transition-timing-function: ease-in;
    transition: 0.5s;
}
.main:hover{
    background-color: transparent;
    background: #9F62C9;
    opacity: 0.3;
}
.main:hover > .title{
    color: white;
}
.main:hover > .description{
    color: white;
}

.main:hover > .icon{
    opacity: 1;
}
.icon{
    width: 90px;
}

.title{
    font-size: 15px;
    font-weight: 400;
}

.description{
    font-size: 13px;
    color: #999999;
}