<div class="main">
    <div class="left">
        <app-card [imgSrc]="'assets/Get Paid Instantly@2x.png'" [desc]="'Get terms loans that your business needs within 72 hrs'" [title]="'Quick cash disbursement'"></app-card>
        <app-card [imgSrc]="'assets/Low interest rate@2x.png'" [desc]="'Achieve your financial goals with an amazing interest rate starting at 13% per annum'" [title]="'Low-interest rate'"></app-card>
        <app-card [imgSrc]="'assets/Secure Payments@2x.png'" [desc]="'Get started instantly by submitting only your basic details & bank statements'" [title]="'Zero Paperwork'"></app-card>
    </div>
    <div class="center">
        <app-card [imgSrc]="'assets/freelancer_feature_icon_6@1.5x@2x.png'" [desc]="'Manage banking, accounting & everything in between, on one platform'" [title]="'Ace your business finances'"></app-card>
        <app-card [imgSrc]="'assets/Covid@2x.png'" [desc]="'Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh'" [title]="'Loans to fight COVID-19'"></app-card>
    </div>
    <div class="right">
        <div class="container">
            <div class="titleContainer">
                <p>Boost your business with Open</p>
                <img src="assets/Line 3.svg" alt="____________">
            </div>
            <div class="description">
                <p>Get your hands on a term loan that's crafted for your business</p>
            </div>
            <button class="getAccount">Get an Open account</button>
        </div>
    </div>
</div>