<div class="appBody" (scroll)="onWindowScroll($event);">
        <div class="body" >
            <div class="background" >
                <img src="assets/blob-small.svg" alt="" class="leftCircle">
                <img src="assets/circle.svg" alt="" class="rightCircle">
                <img src="assets/accounting_dots.svg" alt="" class="leftDots">
                <img src="assets/accounting_dots.svg" alt="" class="rightDots">
                <img src="assets/sol_wave_bg.svg" alt="" class="wave">
        </div>
        <!-- <app-header></app-header> -->
        <div class="headerSection" [class.headerChange]="headerChange">
                <div class="left">
                    <img src="assets/logo@2x.png" alt="" class="logo">
                </div>
                <div class="right">
                    <p>Products</p>
                    <p>Solutions</p>
                    <p>Pricing</p>
                    <button mat-stroked-button class="login">Login</button>
                    <button mat-button class="getStarted">Get Started</button>
                </div>
            </div>
        <app-first-body style="height: 100vh;" ></app-first-body>
        <app-second-body></app-second-body>
        </div>
</div>
