<div class="appBody">
        <div class="background">
                <img src="assets/blob-small.svg" alt="" class="leftCircle">
                <img src="assets/circle.svg" alt="" class="rightCircle">
                <img src="assets/accounting_dots.svg" alt="" class="leftDots">
                <img src="assets/accounting_dots.svg" alt="" class="rightDots">
        </div>
        <app-header></app-header>
        <app-first-body></app-first-body>
        <app-second-body></app-second-body>
</div>
